@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.body{
    font-family: 'Quicksand'!important, sans-serif!important;
}
.btn-outline-primary:hover {
    color:#212F3D;
    text-decoration: none;
    background-color:#FF7F50;
    border-color: #212F3D;

}
.btn-outline-dark:hover {
    color:#DE3163;
    text-decoration: none;
    background-color:#CCCCFF;
    border-color: #212F3D;

}
.btn-outline-primary{
    display: inline-block;
    font-weight: 400;
    color: #212F3D;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0.15rem solid;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-color:#212F3D;
    border-radius: 5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-outline-dark{
    display: inline-block;
    font-weight: 400;
    color: #DE3163;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0.15rem solid;
    padding: 10px;
    margin: 10px;
    margin-top: 0px;

    font-size: 1rem;
    line-height: 1.5;
    border-color:#DE3163;
    border-radius: 5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.jumbotron-fluid{
    background-image: linear-gradient(to bottom,#DE3163,#CCCCFF);
}
.custom-container{
    max-width: 800px;
    max-height: 800px;
}
.card{
    max-width: 100%;
    max-height: 100%;
}
.cam{
    color: #DE3163;
    height: auto;
    max-width: 1000px;
    border: 2px solid;
    border-color: #DE3163;
    border-radius: 100px;
    background-color: transparent;
    padding: 20px;
    margin-bottom: : 100px;
}
html {
    scroll-behavior: smooth;
}
.html, .body {
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.phone-area, .specs-area, .buy-area, .gallery-area{
    max-width: 100%;
    max-height: 100%;
}
